#Header{
	height:150px;
	background-color:#CCC;
}
#Header h1{
	font-size:30px;
	text-align:center;
	margin-top:50px;
	z-index:101;
	font-family:Tahoma, Geneva, sans-serif;
}
#Header p
{
	font-size:23px;
	text-align:center;
	margin-top:20px;
	z-index:101;
	font-family:Tahoma, Geneva, sans-serif;
}
